.header {
    height: 65px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 0.3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(208, 208, 208);
    box-shadow: 1px 2px 3px rgba(152, 152, 152, 0.09);
}

.left-section {
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
}

.hamburger-manu {
    height: 29px;
    margin-left: 34px;
    margin-right: 34px;
    cursor: pointer;
}

.youtube-logo {
    height: 24px;
    cursor: pointer;
}

.middle-section {
    /* background-color: lightpink; */
    flex: 1;
    margin-left: 100px;
    margin-right: 70px;
    max-width: 530px;
    display: flex;
    align-items: center;
}

.search-bar {
    height: 40px;
    border-width: 0.01px;
    border-style: solid;
    border-color: rgb(164, 155, 155);
    border-radius: 3px 0px 0px 3px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.10);
    font-family: roboto, arial;
    font-size: 17px;
    flex: 1;
    padding-left: 12px;
    width: 0;
}

.search-bar::placeholder {
    font-size: 18px;
    font-family: Roboto, arial;
    margin-left: 10px;
}

.search-button {
    width: 70px;
    height: 44px;
    background-color: rgb(236, 236, 236);
    border-width: 0.01px;
    border-style: solid;
    border-color: rgb(164, 155, 155);
    margin-left: -0.7px;
    margin-right: 10px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-icon-container,
.notification-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-icon-container .tooltip,
.notification-icon-container .tooltip {
    position: absolute;
    bottom: -55px;
    background-color: rgb(88, 88, 88);
    color: white;
    font-family: Roboto, Arial;
    font-size: 14px;
    padding: 11px 8px;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;         /* <------ It is most important while hovering */ 
    white-space: nowrap;          /* <------ new property */
    transition: opacity 0.15s;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity: 0.8;
}

.search-button:hover {
    background-color: rgb(235, 231, 231);
}

.search-button:active {
    background-color: rgb(224, 221, 221);
}

.search-icon {
    height: 26px;
}

.voice-search-button {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 100%;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.voice-search-icon {
    height: 26px;
}

.right-section {
    /* background-color: lightblue; */
    width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    flex-shrink: 0;
}

.upload-icon {
    height: 30px;
    cursor: pointer;
}

.youtube-app-icon {
    height: 28px;
    cursor: pointer;
}

.notification-icon-container {
    position: relative;
    cursor: pointer;
}

.notification-icon {
    height: 30px;
}

.notification-count {
    background-color: rgb(204, 0, 0);
    color: white;
    font-family: Roboto, arial;
    font-size: 12px;
    font-weight: 400;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    padding: 1.5px;
    
    position: absolute;
    top: -1px;
    left: 14px;

}

.current-profile-picture {
    height: 39px;
    border-radius: 100%;
    cursor: pointer;
}